{% extends "base.html" %}
{% load static %}
{% load account %}
{% load crispy_forms_tags %}
{% block content %}

<div>
    <div class="row placeholder" id="placeholder-top">
    </div>
</div>

<div class="container-fluid center-block">
    <div class="row profile-student">
        {% if profile.full_name %}
            <div class="col-md-12 col-lg-3">
                <div class="row">
                    <div class="col-12 user-image"><img src="{% static 'images/user.png' %}" alt="cartoon image of a person"></div>
                </div>
                <div class="row">
                    <div class="col-12 user-info-student-profile">
                        <h1>{{ profile.full_name }}</h1>
                        <p>Year {{ profile.year_group }} Student</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button class="btn btn-signup btn-lg user-btns" id="edit-btn">Edit Profile</button>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-lg-9 about-text about-me" id="about-me-text">
                <div class="row about-spacer">
                    <h2><b>About Me! <i class="fa-solid fa-gears homepage-icons-gears"></i></b></h2>
                    <p>{{ profile.about_me }}</p>
                    <hr />
                </div>
                <div class="row">
                    <div class="col-sm-12 col-lg-4 profile-subjects">
                        <h3>Maths: <i class="fa-solid fa-calculator"></i></h3>
                        <hr />
                        <p class="profile-text">"{{ profile.maths }}"</p>
                        <a class="nav-link book-btn homepage-buttons profile-booking-button" href="{% url 'tutor_one' %}">Book in a Maths Lesson</a>
                    </div>
                    <div class="col-sm-12 col-lg-4 profile-subjects">
                        <h3>Science: <i class="fa-solid fa-flask"></i></h3>
                        <hr />
                        <p class="profile-text">"{{ profile.science }}"</p>
                        <a class="nav-link book-btn homepage-buttons profile-booking-button" href="{% url 'tutor_two' %}">Book in a Science Lesson</a>
                    </div>
                    <div class="col-sm-12 col-lg-4 profile-subjects">
                        <h3>English: <i class="fa-solid fa-pen"></i></h3>
                        <hr />
                        <p class="profile-text">"{{ profile.english }}"</p>
                        <a class="nav-link book-btn homepage-buttons profile-booking-button" href="{% url 'tutor_three' %}">Book in an English Lesson</a>
                    </div>
                    <hr />
                </div>
                <div class="row tutor-booking-info" id="profile-teams-info">
                    <p>All lessons take place virtually using Microsoft Teams. For more information: <a
                        href="https://www.microsoft.com/en-gb/microsoft-teams/group-chat-software?rtc=1"
                        target="blank">Click Here</a><br> Lessons are available to book on a weekly basis, please book ahead to avoid
                        disapointment.</p>
                </div>
            </div>
            <div class="col-md-12 col-lg-9" id="edit-profile">
                <div class="row exit-profile" id="exit-btn-container">
                    <i class="fa-solid fa-circle-xmark" id="exit-btn"></i>
                </div>
                <div class="row">
                    <form method="post">
                        {{ form | crispy}}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg homepage-buttons" id="submit-profile-edit-btn">Submit</button>
                    </form>
                </div>
            </div>
        {% else %}
        <div class="col-12 about-text center about-me" id="create-profile-page">
            <div class="row about-spacer">
                <h2>Weclome {{ request.user }}! </h2>
                <p>Your profile page gives your tutors an idea of how you find their subject, what you struggle on and how
                    they can help you in lessons. <br/> Feel free to add some outside interests aswell this will allow them to
                    get to know you better!</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-8 make-profile">
            <div class="row">
                <form method="post">
                    {{ form | crispy}}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg homepage-buttons" id="submit-profile-btn">Submit</button>
                </form>
            </div>
        </div>
        {% endif %}
    </div>
</div>

<div>
    <div class="row placeholder" id="placeholder-bottom">
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/profile.js' %}"></script>
{% endblock %}