{% extends "base.html" %}

{% block content %}

<!--Welcome text and header image-->

<div class="conatiner-fluid">
    <div class="row center">
        <h1>Header Image</h1>
    </div>
    <div class="row center">
        <h2>Welcome!</h2>
    </div>
    <div class="row center border">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus enim. Pellentesque habitant morbi
            tristique senectus et netus et malesuada fames ac turpis egestas. Quisque suscipit, elit in pretium maximus,
            ligula urna sagittis metus, vel blandit tortor ipsum a turpis. Nulla purus nunc, cursus nec congue vel,
            ornare id massa. Donec eleifend viverra metus sed dignissim. Morbi euismod massa sed luctus suscipit.
            Vestibulum condimentum turpis a hendrerit auctor. Phasellus congue turpis sit amet lacus volutpat bibendum.
            Phasellus id placerat ligula.</p>
    </div>
</div>

<!--Our Tutors Section-->

<div class="container-fluid">
    <div class="row">
        <div class="col-4 center">
            <div class="row">
                <p>Picture here</p>
            </div>
            <div class="row">
                <p>Tutor Text Here</p>
            </div>
        </div>
        <div class="col-4 center">
            <div class="row">
                <p>Picture here</p>
            </div>
            <div class="row">
                <p>Tutor Text Here</p>
            </div>
        </div>
        <div class="col-4 center">
            <div class="row">
                <p>Picture here</p>
            </div>
            <div class="row">
                <p>Tutor Text Here</p>
            </div>
        </div>
    </div>
</div>

<!--Reviews-->
<div class="container-fluid">
    <div class="row">
        <h2>Reviews</h2>
    </div>
</div>

{% endblock %}