{% extends "base.html" %}

{% block content %}

<!--Welcome text and header image-->

<div class="conatiner-fluid">
    <div class="row">
        <div class="col-6 header-text center">
            <h2>Helping pupils turn dreams into reality</h2>
            <p>Our tutors provide world class STEM eduction to pupils across the globe.</p>
            <a class="nav-link homepage-buttons" href="{% url 'account_signup' %}">Register today</a>
        </div>
        <div class="col-6 header-image">
            <img src="../../static/images/header1.jpg" alt="cartoon classroom">
        </div>
    </div>
</div>

<!--About us section with a possible slider element-->

<div class="container-fluid">
    <div class="row placeholder center">
        <h3>Placeholder</h3>
    </div>
</div>

<!--Our Tutors Section-->

<div class="container-fluid">
    <div class="row center tutors-heading">
        <h2>Our Tutors</h2>
    </div>
    <div class="row">
        <div class="col-4 center">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="../../static/images/tutorone.png" alt="cartoon tutor image">
                </div>
            </div>    
            <div class="row tutor-text">
                <h3>Barry Hyman</h3>
                <p><i>Mathematics Tutor</i></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus enim. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis egestas. Quisque suscipit, elit in pretium maximus,
                    ligula urna sagittis metus, vel blandit tortor ipsum a turpis. Nulla purus nunc, cursus nec congue vel,
                    ornare id massa.</p>
                <a class="nav-link book-btn homepage-buttons" href="{% url 'tutor_one' %}">Book Lesson</a>
            </div>
        </div>
        <div class="col-4 center">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="../../static/images/tutortwo.png" alt="cartoon tutor image">
                </div>
            </div>    
            <div class="row tutor-text">
                <h3>Jennifer Roberts</h3>
                <p><i>Science Tutor</i></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus enim. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis egestas. Quisque suscipit, elit in pretium maximus,
                    ligula urna sagittis metus, vel blandit tortor ipsum a turpis. Nulla purus nunc, cursus nec congue vel,
                    ornare id massa.</p>
                <a class="nav-link book-btn homepage-buttons" href="{% url 'tutor_two' %}">Book Lesson</a>
            </div>
        </div>
        <div class="col-4 center">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="../../static/images/tutorthree.png" alt="cartoon tutor image">
                </div>
            </div>    
            <div class="row tutor-text">
                <h3>Mark Macintosh</h3>
                <p><i>English Tutor</i></p>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut et risus enim. Pellentesque habitant morbi
                    tristique senectus et netus et malesuada fames ac turpis egestas. Quisque suscipit, elit in pretium maximus,
                    ligula urna sagittis metus, vel blandit tortor ipsum a turpis. Nulla purus nunc, cursus nec congue vel,
                    ornare id massa.</p>
                    <a class="nav-link book-btn homepage-buttons" href="{% url 'tutor_three' %}">Book Lesson</a>
            </div>
        </div>
    </div>
</div>

<!--Reviews-->
<div class="container-fluid">
    <div class="row">
        <h2>Reviews</h2>
    </div>
</div>

{% endblock %}