{% extends "base.html" %}

{% block content %}

<!--Welcome text and header image-->

<div class="conatiner-fluid">
    <div class="row">
        <div class="col-6 header-text center">
            <h1><b>Free 1-on-1 Online Tutoring</b></h1>
            <p>Giving students equal opportunities regardless of their economic background.</p>
            <a class="nav-link homepage-buttons" href="{% url 'account_signup' %}">Register today</a>
        </div>
        <div class="col-6 header-image">
            <img src="../../static/images/header1.jpg" alt="cartoon classroom">
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row placeholder">
    </div>
</div>

<!--About us section with a possible slider element-->
<div class="container-fluid">
    <div class="row center spacer">
        <div class="row">
        <div class="col-6 video-area">
            <div class="box" id="circle-2"></div>
            <div class="box" id="circle-1"></div>
            <video id="video" width="520" height="300" controls>
                <source src="../../static/images/movie.mp4" type="video/mp4">
                Your browser does not support the video tag.
              </video>
        </div>
        <div class="col-6 information-strip">
            <div class="row">
                <div class="col-2">
                    <i class="fa-solid fa-award homepage-icons"></i>
                </div>
                <div class="col-10 text-homepage">
                    <h5>Expert Tutors</h5>
                    <p>Our tutors are experts in their field.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <i class="fa-solid fa-money-bills homepage-icons"></i>
                </div>
                <div class="col-10 text-homepage">
                    <h5>Its Free!</h5>
                    <p>Money isn't our priority - your child is.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-2">
                    <i class="fa-solid fa-heart homepage-icons"></i>
                </div>
                <div class="col-10 text-homepage">
                    <h5>100% Care</h5>
                    <p>Students will build relationships with their tutor.</p>
                </div>
                </div>
            <div class="row">
                <div class="col-2">
                    <i class="fa-solid fa-graduation-cap homepage-icons"></i>
                </div>
                <div class="col-10 text-homepage">
                    <h5>Proven Results</h5>
                <p>Our students see dramatically improved test scores.</p>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row placeholder">
    </div>
</div>


<div class="container-fluid">
    <div class="row center">
        <div class="row">
            <div class="row text-homepage-world">
                <h5><i class="fa-solid fa-quote-left homepage-icons quote-padding"></i>I have learnt so much in my tutoring sessions and am really enjoying being able to ask questions again.<i class="fa-solid fa-quote-right homepage-icons quote-padding"></i></h5>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row placeholder">
    </div>
</div>

<!--Our Tutors Section-->

<div class="container-fluid">
    <div class="row">
        <div class="col-4 center">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="../../static/images/tutorone.jpg" alt="cartoon tutor image">
                </div>
            </div>    
            <div class="row tutor-text">
                <h3>Barry Hyman</h3>
                <p><i>Mathematics Tutor</i></p>
                <p>Barry is an incredible maths tutor with over 10 years experience teaching online. <br/> Maths is a
                    challenging subject for many students and Barry ensures that all students feel supported in lessons
                    by giving them plenty of practice questions to complete. <br/> We are extremely lucky to have Barry as 
                    one of our tutors!</p>
                <a class="nav-link book-btn homepage-buttons" href="{% url 'tutor_one' %}">Book Lesson</a>
            </div>
        </div>
        <div class="col-4 center">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="../../static/images/tutortwo.jpg" alt="tutor image">
                </div>
            </div>    
            <div class="row tutor-text">
                <h3>Jennifer Roberts</h3>
                <p><i>Science Tutor</i></p>
                <p>Jennifer is a secondary school teacher who is passionate about technology. <br/>She is extremely diligent
                    and always ensures that the students needs are before hers. Jennifer's lessons are engaging and she
                    always promotes mastery in her approach. <br/>Thank you for all the work you do for our students Jennifer! </p>
                <a class="nav-link book-btn homepage-buttons" href="{% url 'tutor_two' %}">Book Lesson</a>
            </div>
        </div>
        <div class="col-4 center">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="../../static/images/tutorthree.jpg" alt="cartoon tutor image">
                </div>
            </div>    
            <div class="row tutor-text">
                <h3>Mark Macintosh</h3>
                <p><i>English Tutor</i></p>
                <p>Mark is a brilliant tutor and has over 20 years in education. <br/>His wealth of experience ensures that
                    he is able to promote high end thinking and is able to challenge pupils effectively in lessons. He is
                    supportive and always available to lend a hand.</p>
                    <a class="nav-link book-btn homepage-buttons" href="{% url 'tutor_three' %}">Book Lesson</a>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row placeholder">
    </div>
</div>

<!--Reviews section-->

<div class="container-fluid">
    <div class="row">
        <div class="row">
            <div class="row text-homepage-world">
                <i class="fa-solid fa-quote-left homepage-icons"></i>
                <h5>I have learnt so much in my tutoring sessions and am really enjoying being able to ask questions again.</h5>
            </div>
        </div>
    </div>
</div>

{% endblock %}