.center {
    text-align: center;
}

.navbar {
    background-color: #258d8c;
}

.header-image {
    height: 450px
}

.header-image img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.border {
    border: solid 2px black;
}
.profile {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
}

.center-block {
    display: flex;
    justify-content: center;
}

.about-text {
    line-height: 2em;
}

.about-spacer {
    margin-top: 20px;
}

.user-info {
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 25px;
}

.user-info i {
    color: orange;
}

.year-group {
    margin-top: 20px;
}

.user-btns {
    width: 100%;
    text-align: left;
}

#create-btn-div {
    display: flex;
    justify-content: center;
}

.user-image {
    display: flex;
    justify-content: center;
    font-size: 150px;
}

.upcoming-bookings {
    margin-top: 20px;
    background-color: aliceblue;
}

.bookings-area {
    width: 100%;
}

.booking-button {
    float: right;
    padding-right: 50px;
}

.booking-button button {
    background-color: orange;
}

table, th, td {
    border: 1px solid;
}

.booking-table {
    font-size: 20px;
    padding-top: 50px;
    width: 100%;
    margin: 0;
}

.confirm-booking {
    margin-top: 25px;
    background-color: #258d8c12;
}

#exit-hide {
    height: 75px;
}

.edit-button {
    text-align: right;
}

.btn-color-blue {
    background-color: aliceblue;
}

.footer {
    background-color: #258d8c;
}

.footer li {
    display: inline;
    padding: 10px;
}

.footer li i {
    color: grey;
}