.center {
    text-align: center;
}

.border {
    border: solid 2px black;
}

.footer {
    background-color: 	#ffffba;
}

.footer li {
    display: inline;
    padding: 10px;
}

.footer li i {
    color: grey;
}