@import url('https://fonts.googleapis.com/css2?family=Hubballi&display=swap');

/* ............................................... Main website styling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Hubballi', cursive;
}

.center {
    text-align: center;
}

.navbar {
    background-color: #258d8c;
    justify-content: right;
}

.nav-link-upcoming-lessons {
    width: 200px;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.header-nav {
    height: 50px;
    color: white;
    padding-top: 5px;
    font-size: 30px;
    background-color: #258d8c;
    color: white;
    display: flex;
    position: relative;
}

.header-nav a{
    margin-bottom: 0;
    text-decoration: none;
    color: white;
}

.header-nav a:hover{
    color: black;
}

.nav-elements {
    font-size: 22px;
}

.border {
    border: solid 2px black;
}

.center-block {
    display: flex;
    justify-content: center;
}

.user-btns {
    width: 100%;
    text-align: left;
}

.hidden {
    display: none;
}

.placeholder {
    background-color: #258d8c17;
    border: solid 2px white;
    padding: 0;
    height: 30px;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

#placeholder-top {
    margin-top: 0;
}

#placeholder-bottom {
    margin-bottom: 0;
}

.table-space {
    margin-top: 8px;
    width: 50%;
}

.table-space td {
    padding: 8px;
}

.bold {
    background-color: #fec173;
    font-weight: bold;
    font-size: 20px;
}

hr {
    color: #258d8c;
}

.blue-strip {
    height: 50px;
    width: 50px;
    padding: 0;
    background-color: #258d8c;
    border-radius: 50%;
    justify-content: center;
    margin: auto;
}

.blue-strip i {
    font-size: 30px;
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.spacer {
    margin-top: 40px;
}

.box{ 
    border-radius: 50%;
}

#username-right {
    position: absolute;
    right: 20px;
    top: 25px;
    margin-bottom: 0;
}

#nav-title {
    position: absolute;
    left: 20px;
    top: 0px;
    font-size: 40px;
}

#nav-title i {
    color: #fec173;
}

/* ............................................... Home page styling */

#medium-header {
    display: none;
}

.homepage-icons {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 20px;
    color: #258d8c;
}

.homepage-icons-gears {
    padding-top: 10px;
    padding-bottom: 15px;
    font-size: 30px;
    color:#fec173;
}

.quote-padding {
    padding: 20px;
}

.video-area {
    margin: auto;
    padding-top: 20px;
    position: relative;

}

#video {
    border: 4px solid #258d8c;
    border-radius: 5px;
    padding: 0;
    z-index: 3;
}

.header-homepage {
    margin-bottom: 20px;
    margin-top: 10px;
    padding-left: 20px;
    background-color: #258d8c17;
    border-radius: 5px;
}

#large-about-us-header {
    display: none;
}

.text-homepage {
    text-align: left;
}

#text-homepage-header {
    margin-left: 50px;
    margin-bottom: 30px;
    width:300px; 
    height:50px; 
}

#text-homepage-tutors {
    padding: 10px;
    margin-left: 100px;
    margin-bottom: 30px;
    width:300px; 
    height:50px;
}

.information-strip {
    margin: auto;
    font-size: 20px;
    padding: 0;
    margin-bottom: 20px;
}

.header-image img{
    height: 450px;
    width: 100%;
}

.header-text {
    padding-top: 150px;
}

.header-text p {
    font-size: 20px;
}

.homepage-buttons {
    border-radius: 5px;
    width: 60%;
    margin: auto;
    background-color: #fec173;
    color: black;
    font-size: 20px;
    margin-bottom: 50px;
}

.header-image img {
    height: 450px;
    object-fit: contain;
}

.tutors-heading {
    padding-top: 20px;
    padding-left: 150px;
}

.tutor-icon-padding {
    padding: 10px;
}

.tutor-text {
    font-size: 20px;
    padding: 0 30px;
}

.blue-background {
    background-color: #258d8c17;
}

/*................................................. Reviews */

.carousel {
    position: relative;
}

.carousel__item {
    height: 150px;
    text-align: center;
    display: none;
}

.carousel__item--selected {
    display: block;
}

.carousel__nav {
    width: 100%;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: center;
}

.carousel__button {
    width: 20px;
    height: 20px;
    display: inline-block;
    background:#258d8c;
    border-radius: 50%;
    margin: 0 5px;
}

.carousel__button--selected {
    background-color: #efa74b;
}


/* ................................................ Signup and register page */

.sign-up {
    height: 500px;
    width: 30%;
    margin: auto;
    background-color: #258d8c17;
    padding-top: 50px;
    padding-left: 50px;
    text-align: left;
    font-size: 20px;
}

.register-buttons {
    width: 30%;
    margin: auto;
    background-color: #fec173;
    color: black;
    font-size: 20px;
}

.register-links {
    color: #258d8c;
    text-decoration: none;
}

.sign-up a:hover {
    color: #fec173;
}

/* ............................................... Student profile page styling */

.profile {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    height: 810px;
}

.profile-page {
    width: 100%;
    margin-top: 20px;
    padding: 20px;
    height: 810px;
}

.about-text {
    line-height: 2em;
}

.about-spacer {
    margin-top: 20px;
}

.user-info {
    margin-top: 25px;
    margin-left: 50px;
    margin-bottom: 25px;
}

.user-info i {
    color: #fec173;
}

.year-group {
    margin-top: 20px;
}

.center-image {
    justify-content: center;
}

.user-image {
    display: flex;
    height: 200px;
    width: 200px;
    justify-content: center;
    margin: auto;
    font-size: 150px;
}

.user-image img{
    height: 180px;
    width: 100%;
    border-radius: 50%;
}

.upcoming-bookings {
    margin-top: 20px;
    background-color: aliceblue;
}

#exit-btn{
    text-align: right;
    padding: 0;
}

.profile-subjects i {
    color: #efa74b;
    float: right;
    padding-right: 10px;
}

.profile-text {
    background-color: #258d8c0f;
    text-align: center;
    padding: 10px;
}

#profile-teams-info {
    margin-top: 15px;
    background-color: #258d8c0f;
}

#profile-booking-button {
    width: 100%;
    text-align: center;
}

/* ............................................... Reviews */

#reviews {
    background-color: #258d8c0f;
    margin-top: 120px;
    height: 350px;
}

#tutor_name {
    color: #258d8c;
}

.card_space {
    margin-bottom: 20px;
    margin-top: 20px;
}

.review_comment {
    font-size: 18px;
    font-weight: bold;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
    float: right;
}

.color-card {
    background-color: #258d8c0f;
}

.page-link {
    float: right;
}

/* ............................................... Stars */

.star-rating {
    float: right;
    margin-right: 30px;
}

.star-rating input {
    display: none;
}

.star-rating label {
    padding: 10px;
    width: 0;
    float: right;
    transition: all 0.2s ease;
}

input:not(:checked) ~ label:hover,
input:not(:checked) ~ label:hover ~ label{
  color: #fd4;
}

input:checked ~ label{
    color: #fd4;
}

/* ............................................... Tutor profile page styling */

.tutor-medium-placeholder {
    display: none;
}

.table-width {
    width: 100%;
}

.page-buttons-container a {
    display: block;
    text-decoration: none;
    border: solid 1px #258d8c0f;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    color: black;
    font-size: 20px;
}

.bookings-area {
    width: 100%;
}

.booking-button {
    float: right;
    padding-right: 50px;
}

.booking-button a{
    border-radius: 5px;
    padding: 15px;
    background-color: #fec173;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

.tutorpage-buttons {
    width: 100%;
    margin: auto;
    background-color: #fec173;
    color: black;
    font-size: 20px;
}

.btn-color {
    width: 180px;
    background-color: orange;
}

th, td {
    border: 1px solid;
}

.booking-table {
    font-size: 20px;
    padding-top: 20px;
    width: 100%;
    margin: 0;
}

.confirm-booking {
    margin-top: 25px;
    background-color: #258d8c12;
}

.exit-booking-button {
    text-align: right;
}

.edit-button {
    text-align: right;
}

.booking-opacity {
    display: none;
}

/* ............................................... Bookings Sections */

.hidden-mon {
    display: none;
}

.table {
    padding: 10px 100px;
}

.table:hover {
    cursor: pointer;
}

#left {
    float: left;
}

#right {
    float: right;
}

#time-slots {
    opacity: 0;
}

.btn-delete {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #d85153;
    border: 2px solid black;
    color: white;
    float: right;
}

.btn-complete {
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #258d8c;
    border: 2px solid black;
    color: white;
    float: left;
}

.type {
    float: right;
}

.tutor-booking-info {
    height: 100px;
    background-color: #fec173;
    margin-top: 50px;
    padding-top: 20px;
}

.tutor-booking-info a {
    text-decoration: none;
    color: #258d8c;
}

.tutoring-heading {
    margin-bottom: 60px;
}

/* ............................................... Footer styling */

.footer {
    background-color: #258d8c;
}

.footer li {
    display: inline;
    padding: 10px;
}

.footer li i {
    color: white;
    font-size: 25px;
    margin-top: 20px;
}

/*..................................Media Queries*/

@media(max-width:1514px) {
    .table {
        font-size: 18px;
        padding: 10px 50px;
    }
}

@media(max-width:1230px) {
    .information-strip {
        padding-left: 50px;
    }
}

@media(max-width:1200px) {
    .table {
        padding: 10px 30px;
    }
    .tutor-booking-info h5{
        font-size: 18px;
    }
}

@media(max-width:1100px) {
    .information-strip {
        padding-left: 100px;
    }
    .tutor-booking-info {
        height: 120px;
    }
}

@media(max-width:992px) {
    #medium-header {
        display: block;
    }
    #large-header {
        display: none;
    }
    .header-text {
        padding-top: 10px;
    }
    .header-image img {
        height: 300px;
    }
    .video-area {
        height: 350px;
        padding-top: 0;
    }
    #video {
        left: 150px;
        top: 0px;
    }
    #circle-1 {
        left: 50px;
        top: 100px;
    }
    #circle-2 {
        left: 500px;
        top: 100px;
    }
    .carousel__item {
        height: 120px;
        padding: 0;
    }
    .carousel__nav {
        padding-bottom: 0;
    }
    .carousel__item h5 {
        font-size: 18px;
    }
    .quote-padding {
        padding: 5px;
    }
    #text-homepage-tutors {
        margin-left: 20px;
    }
    .tutor-text {
        margin-bottom: 30px;
        font-size: 18px;
    }
    .homepage-buttons {
        margin-bottom: 20px;
    }
    #large-about-us-header {
        display: block;
        padding-left: 130px;
    }
    #medium-about-us-header {
        display: none;
    }
    .information-strip {
        margin-top: 80px;
    }
    .page-buttons-container a {
        display: inline;
    }
    .user-info {
        height: 150px;
        text-align: center;
        margin: 0;
    }
    .page-buttons-container {
        text-align: center;
    }
    .profile {
        height: 1200px;
    }
    .tutor-medium-placeholder {
        display: block;
    }
    .profile-page {
        height: 900px;
    }
}

@media(max-width:820px) {
    .information-strip {
        padding-left: 80px;
    }
    #large-about-us-header {
        padding-left: 100px;
    }
}

@media(max-width:768px) {
    .profile {
        height: 1800px;
    }
    .profile-page {
        height: 1000px;
    }
}

@media(max-width:750px) {
    .information-strip {
        padding-left: 60px;
    }
    #large-about-us-header {
        padding-left: 80px;
    }
}

@media(max-width:630px) {
    .information-strip {
        padding-left: 0;
    }
    #large-about-us-header {
        padding-left: 0;
    }
}

@media(max-width:590px) {
    #video {
        height: 270px;
        width: 100%;
    }
    .information-strip {
        margin-top: 10px;
    }
    .profile-page {
        height: 1200px;
    }
}

@media(max-width:540px) {
    #video {
        height: 250px;
    }
    .page-buttons-container a {
        padding: 5px;
    }
}

@media(max-width:500px) {
    #video {
        height: 235px;
    }
    .information-strip {
        margin-top: 2px;
    }
    .profile-page {
        height: 1300px;
    }
}

@media(max-width:485px) {
    .carousel__item {
        height: 140px;
    }
    #video {
        height: 230px;
    }
    .page-buttons-container a {
       display: block;
       margin: 5px 0;
    }
    .tutor-booking-info {
        height: 180px;
        margin-top: 20px;
    }
    .profile {
        height: 1900px;
    }
}

@media(max-width:410px) {
    #nav-title {
        left: 0;
        font-size: 35px;
    }
}