{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row profile">
        <div class="col-3">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="../../../static/images/tutortwo.png" alt="cartoon image of a tutor">
                </div>
            </div>
            <div class="row">
                <div class="col-12 user-info">
                    <h1>Jennifer Roberts</h1>
                    <p>£20 per hour</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10">
                    <a href="{% url 'tutor_two_profile' %}"><button class="btn btn-signup btn-lg user-btns" id="proile-btn">Profile Page</button></a>
                    <a href="{% url 'tutor_two_qualifications' %}"><button class="btn btn-signup btn-lg user-btns" id="qualifications-btn">Qualifications</button></a>
                    <a href="{% url 'tutor_two_reviews' %}"><button class="btn btn-signup btn-lg user-btns" id="reviews-btn">Reviews</button></a>
                </div>
            </div>
        </div>
        <div class="col-6" id="reviews">
            <h3>Reviews:</h3>
            <div class="row">
                {% for review in review_list %}
                    <div class="col-4">
                        <div class="card">
                            <div class="card-body">
                                {{ review.review|safe }}
                                <p> Student: {{ review.student }}</p>
                                <p> Tutor: {{ review.tutor }}</p>
                            </div>
                            <hr />
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <button class="btn btn-signup btn-lg" id="create-review">Leave a review</button>
            </div>
            <div class="container" id="review-container">
                <div class="post">
                  <div class="text">Thanks for rating us!</div>
                  <div class="edit">EDIT</div>
                </div>
                <div class="container col-6 star-rating">
                    <input type="radio" name="rate" id="rate-5">
                    <label for="rate-5" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-4">
                    <label for="rate-4" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-3">
                    <label for="rate-3" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-2">
                    <label for="rate-2" class="fas fa-star"></label>
                    <input type="radio" name="rate" id="rate-1">
                    <label for="rate-1" class="fas fa-star"></label>

                  <form action="#">
                    <header></header>
                    <div class="textarea">
                      <textarea cols="30" placeholder="Describe your experience.."></textarea>
                    </div>
                    <div class="btn">
                      <button type="submit" class="btn submit-review">Submit Review</button>
                      <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
                    </div>
                  </form>

                </div>
              </div>
        </div>
        <div class="col-3" id="bookings-button">
            <div class="row booking-button">
                <a href="{% url 'tutor_two' %}"><button class="btn btn-signup btn-lg user-btns tutorpage-buttons" id="booking-btn">Book Lesson</button></a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/tutor.js' %}"></script>
{% endblock %}