{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row profile-page">
        <div class="col-md-12 col-lg-3">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="{% static 'images/tutorone.jpg' %}" alt="image of a tutor">
                </div>
            </div>
            <div class="row">
                <div class="col-12 user-info">
                    <h1>Barry Hyman</h1>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10 page-buttons-container" >
                    <a href="{% url 'tutor_one_profile' %}" class="page-buttons">Profile Page</a>
                    <a href="{% url 'tutor_one_qualifications' %}" class="page-buttons">Qualifications</a>
                    <a href="{% url 'tutor_one_reviews' %}" class="page-buttons">Reviews</a>
                </div>
            </div>
        </div>
        <div class="tutor-medium-placeholder">
            <div class="row placeholder">
            </div>
        </div>
        <div class="col-md-12 col-lg-7" id="tutor-profile">
            <div class="row">
                <h2>Mathematics Tutor</h2>
                <p class="tutor-qualification-heading"> - Head of Mathematics</p>
                <hr/>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <h3>Hobbies:</h3>
                    <hr/>
                    <h5 class="hobbies"><i class="fa-solid fa-person-biking homepage-icons-gears"></i> Biking </h5>
                    <h5 class="hobbies"><i class="fa-solid fa-house homepage-icons-gears"></i> Family </h5>
                    <h5 class="hobbies"><i class="fa-solid fa-chess homepage-icons-gears"></i> Chess </h5>
                    <h5 class="hobbies"><i class="fa-solid fa-leaf homepage-icons-gears"></i> Gardening </h5>
                </div>
                <div class="col-sm-12 col-md-9">
                    <h3>About Me:</h3>
                    <hr/>
                <p> Hi, I am Barry and I am a Mathematics Tutor here at TutorHub. I have been teaching maths for many years and am currently Head of Mathematics 
                    at a Secondary School in Orton. I love teaching and helping students to achieve their dreams. During my lessons I let students ask questions
                    regularly and direct the lesson at their own pace. Now more than ever it is important we listen to them as students and give them the space 
                    to flourish.</p>
                <p> I am a keen biker and regularly go out on in the countryside at weekends. I also enjoy spending time with my beautiful family and watching my
                    children grow up. I am easy going and try not to take life too seriously.</p>
                <p> Understanding of maths does not happen over night, therefore in my lessons I try to scaffold pupils' answers and guide them towards the correct
                    answer. This not only builds confidence, but gives them the time and space to progress in a relaxed environment. I really look forward to meeting
                    you in our lessons!
                </p>
                </div>
            </div>
            <div class="row qualification-icon-background">
                <div class="col-3 center">
                    <p><i class="fa-solid fa-shield qualifications-icons"></i> Enhanced DBS Checked</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-thumbs-up qualifications-icons"></i> Tutors ID Verified</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-lock qualifications-icons"></i> Qualified Teacher (QTS)</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-heart qualifications-icons"></i> 100% Care</p>
                </div>
            </div>    
        </div>
        <div class="col-md-12 col-lg-2" id="bookings-button">
            <div class="row booking-button">
                <a href="{% url 'tutor_one' %}" id="booking-btn">Book Lesson</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/tutor.js' %}"></script>
{% endblock %}