{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row qualification-page">
        <div class="col-md-12 col-lg-3">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="{% static 'images/tutortwo.avif' %}" alt="image of a tutor">
                </div>
            </div>
            <div class="row">
                <div class="col-12 user-info">
                    <h1>Jennifer Roberts</h1>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10 page-buttons-container" >
                    <a href="{% url 'tutor_two_profile' %}" class="page-buttons">Profile Page</a>
                    <a href="{% url 'tutor_two_qualifications' %}" class="page-buttons">Qualifications</a>
                    <a href="{% url 'tutor_two_reviews' %}" class="page-buttons">Reviews</a>
                </div>
            </div>
        </div>
        <div class="tutor-medium-placeholder">
            <div class="row placeholder">
            </div>
        </div>
        <div class="col-md-12 col-lg-7" id="qualifications">
            <div class="row">
                <h2>Science Tutor</h2>
                <p class="tutor-qualification-heading"> - Science Standards and Progress Lead</p>
                <hr/>
            </div>
            <div class="row qualification">
                <h3><i class="fa-solid fa-briefcase homepage-icons-gears"></i>Experience:</h3>
                <ul>
                    <li>Science Standards and Progress Lead - Hertford Academy - (2016 - 2022)</li>
                    <li>Science EAL Practitioner - Hertford Academy - (2015 - 2016)</li>
                    <li>Science Teacher - Polywell Academy - (2013 - 2015)</li>
                    <li>Science Tutor GCSE & A Level - TutorDirect - (2010 - 2013)</li>
                </ul>
                <hr/>
            </div>
            <div class="row qualification">
                <h3><i class="fa-solid fa-graduation-cap homepage-icons-gears"></i>Qualifications:</h3>
                <ul>
                    <li>(PGDE) Postgraduate Diploma in Education - Pass - Birmingham University</li>
                    <li>(BSc) Biochemistry and Analytics - First Class Degree - Kent University</li>
                    <li>Advanced Level Physics - A* Grade - Womble Academy</li>
                    <li>Advanced Level Chemistry - A Grade  - Womble Academy</li>
                    <li>Advanced Level Biology - A* Grade  - Womble Academy</li>
                </ul>
                <hr/>
            </div>
            <div class="row qualification-icon-background">
                <div class="col-3 center">
                    <p><i class="fa-solid fa-shield qualifications-icons"></i> Enhanced DBS Checked</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-thumbs-up qualifications-icons"></i> Tutors ID Verified</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-lock qualifications-icons"></i> Qualified Teacher (QTS)</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-heart qualifications-icons"></i> 100% Care</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-2" id="bookings-button">
            <div class="row booking-button">
                <a href="{% url 'tutor_three' %}" id="booking-btn">Book Lesson</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/tutor.js' %}"></script>
{% endblock %}