{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row profile-page">
        <div class="col-md-12 col-lg-3">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="{% static 'images/tutorthree.avif' %}" alt="image of a tutor">
                </div>
            </div>
            <div class="row">
                <div class="col-12 user-info">
                    <h1>Mark Macintosh</h1>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10 page-buttons-container" >
                    <a href="{% url 'tutor_three_profile' %}" class="page-buttons">Profile Page</a>
                    <a href="{% url 'tutor_three_qualifications' %}" class="page-buttons">Qualifications</a>
                    <a href="{% url 'tutor_three_reviews' %}" class="page-buttons">Reviews</a>
                </div>
            </div>
        </div>
        <div class="tutor-medium-placeholder">
            <div class="row placeholder">
            </div>
        </div>
        <div class="col-md-12 col-lg-7" id="tutor-profile">
            <div class="row">
                <h2>English Tutor</h2>
                <p class="tutor-qualification-heading"> - Leader of KS4 English and Drama</p>
                <hr/>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-3">
                    <h3>Hobbies:</h3>
                    <hr/>
                    <h5 class="hobbies"><i class="fa-solid fa-football homepage-icons-gears"></i> Rugby </h5>
                    <h5 class="hobbies"><i class="fa-solid fa-puzzle-piece homepage-icons-gears"></i> Puzzles </h5>
                    <h5 class="hobbies"><i class="fa-solid fa-paintbrush homepage-icons-gears"></i> Painting </h5>
                    <h5 class="hobbies"><i class="fa-solid fa-person-running homepage-icons-gears"></i> Running </h5>
                </div>
                <div class="col-sm-12 col-md-9">
                    <h3>About Me:</h3>
                    <hr/>
                <p> English is a beautiful subject with the potential to let students express themselves and their emotions. However, without guidance it can be
                    a very overwhelming subject for many. During my lessons I help students express their feelings through written text, explore and delve into incredible
                    texts and analyse its meaning. My passion for english shines through in every lesson leaving students feeling confident and interested to know more.
                </p>
                <p> I love rugby and am a member of the mens county team. At the weekends I regularly play games and keep fit at the gym. Alongside this I do puzzles and paint 
                    to relax and unwind in the evenings.
                </p>
                <p> As your tutor I will scaffold your understanding leaving you feeling more confident answering those tricky questions. Each lesson will be orientated around 
                    your current understanding and we will build upon this. Please bring any questions you have to the lesson and we can work through these together. 
                </p>
                </div>
            </div>
            <div class="row qualification-icon-background">
                <div class="col-3 center">
                    <p><i class="fa-solid fa-shield qualifications-icons"></i> Enhanced DBS Checked</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-thumbs-up qualifications-icons"></i> Tutors ID Verified</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-lock qualifications-icons"></i> Qualified Teacher (QTS)</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-heart qualifications-icons"></i> 100% Care</p>
                </div>
            </div>    
        </div>
        <div class="col-md-12 col-lg-2" id="bookings-button">
            <div class="row booking-button">
                <a href="{% url 'tutor_three' %}" id="booking-btn">Book Lesson</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/tutor.js' %}"></script>
{% endblock %}