{% extends "base.html" %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row profile">
        <div class="col-3">
            <div class="row">
                <div class="col-12 user-image">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>
            <div class="row">
                <div class="col-12 center year-group">
                    <p>Tutor</p>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10 user-info center">
                    <p>I am Craig</p>
                </div>
            </div>
        </div>
        <div class="col-9 about-text">
            <div class="row">
                <h1>Craig Diver</h1>
            </div>
            <div class="row about-spacer">
                <h3>About Me!</h3>
                <p>Hello there</p>
            </div>
        </div>
        <div class="col-3 user-image">
            <i class="fa-solid fa-user"></i>
        </div>
    </div>
</div>
<div class="container-fluid center-block">
    <div class="row upcoming-bookings">
        <h2>Upcoming Bookings</h2>
    </div>
</div>

{% endblock %}