{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row profile-page">
        <div class="col-md-12 col-lg-3">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="{% static 'images/tutortwo.avif' %}" alt="image of a tutor">
                </div>
            </div>
            <div class="row">
                <div class="col-12 user-info">
                    <h1>Jennifer Roberts</h1>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10 page-buttons-container" >
                    <a href="{% url 'tutor_two_profile' %}" class="page-buttons">Profile Page</a>
                    <a href="{% url 'tutor_two_qualifications' %}" class="page-buttons">Qualifications</a>
                    <a href="{% url 'tutor_two_reviews' %}" class="page-buttons">Reviews</a>
                </div>
            </div>
        </div>
        <div class="tutor-medium-placeholder">
            <div class="row placeholder">
            </div>
        </div>
        <div class="col-md-12 col-lg-7" id="tutor-profile">
            <div class="row">
                <h2>Science Tutor</h2>
                <p class="tutor-qualification-heading"> - Science Standards and Progress Lead</p>
                <hr/>
            </div>
            <div class="row">
                <div class="col-3">
                    <h3>Hobbies:</h3>
                    <hr/>
                    <h5 class="hobbies"><i class="fa-solid fa-person-swimming homepage-icons-gears"></i> Swimming </h5>
                    <h5 class="hobbies"><i class="fa-solid fa-cake-candles homepage-icons-gears"></i> Baking </h5>
                    <h5 class="hobbies"><i class="fa-solid fa-computer homepage-icons-gears"></i> Coding </h5>
                </div>
                <div class="col-9">
                    <h3>About Me:</h3>
                    <hr/>
                <p> I have been tutoring and teaching for over 15 years, currently leading as Standards and Progress Leader at my school. 
                    Students feel comfortable when working with me and are confident that they can ask any question, no matter how silly they may perceive it to be. 
                    I always try to think of relevant and engaging ways to tackle a topic to enable all abilities to understand.
                    I have access to lots of resources that I share during lessons to back up the learning.</p>
                <p> Alongside teaching I regularly spend time with my friends and family, participate in swimming competitions and bake cakes! I pride myself
                    on my approachable nature and friendly attitude to everyone I meet. I hope that this makes you feel more confident in lessons and that you
                    enjoy learning with me!</p>
                <p> My lessons are usually orientated around pupil misconceptions, so please feel free to bring along any questions you have struggled with in 
                    lessons and we will work through these together. If you need help outside of lessons I will try to accomodate for this and guide you if needed.
                </p>
                </div>
            </div>
            <div class="row qualification-icon-background">
                <div class="col-3 center">
                    <p><i class="fa-solid fa-shield qualifications-icons"></i> Enhanced DBS Checked</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-thumbs-up qualifications-icons"></i> Tutors ID Verified</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-lock qualifications-icons"></i> Qualified Teacher (QTS)</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-heart qualifications-icons"></i> 100% Care</p>
                </div>
            </div>    
        </div>
        <div class="col-md-12 col-lg-2" id="bookings-button">
            <div class="row booking-button">
                <a href="{% url 'tutor_two' %}" id="booking-btn">Book Lesson</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/tutor.js' %}"></script>
{% endblock %}