{% extends "base.html" %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row profile">
        <div class="col-3">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="../../static/images/tutorone.png" alt="cartoon image of a tutor">
                </div>
            </div>
            <div class="row">
                <div class="col-12 user-info">
                    <h1>Tutors Name</h1>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10">
                    <button class="btn btn-signup btn-lg user-btns" id="proile-btn">Profile Page</button>
                    <button class="btn btn-signup btn-lg user-btns" id="upcoming-lessons-btn">Upcoming Lessons</button>
                    <button class="btn btn-signup btn-lg user-btns" id="previous-lessons-btn">Previous Lessons</button>
                    <button class="btn btn-signup btn-lg user-btns" id="edit-btn">Edit Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}