{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row profile">
        <div class="col-3">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="../../../static/images/tutortwo.avif" alt="image of a tutor">
                </div>
            </div>
            <div class="row">
                <div class="col-12 user-info">
                    <h1>Jennifer Roberts</h1>
                    <p>£20 per hour</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10 page-buttons-container" >
                    <a href="{% url 'tutor_two_profile' %}" class="page-buttons">Profile Page</a>
                    <a href="{% url 'tutor_two_qualifications' %}" class="page-buttons">Qualifications</a>
                    <a href="{% url 'tutor_two_reviews' %}" class="page-buttons">Reviews</a>
                </div>
            </div>
        </div>
        <div class="col-6 booking-button" id="reviews-page">
            <a href="{% url 'tutor_two_create_review' %}">Create a review</a>
            <br />
            <br />
            <div class="row">
                {% for review in review_list %}
                    <div class="col-6 card_space">
                        <div class="card">
                            <div class="card-body color-card">
                                <p class="review_comment">{{ review.review|safe }} - {{ review.student }} </p>
                                <hr />
                                <p class="right">{{ review.created_on}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                {% if is_paginated %}
                <nav aria-label="Page navigation">
                    <ul class="pagination right">
                        {% if page_obj.has_previous %}
                        <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link">NEXT &raquo;</a></li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </div>
        </div>
        <div class="col-3" id="bookings-button">
            <div class="row booking-button">
                <a href="{% url 'tutor_two' %}" id="booking-btn">Book Lesson</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/tutor.js' %}"></script>
{% endblock %}