{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row profile">
        <div class="col-3">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="../../../static/images/tutortwo.jpg" alt="image of a tutor">
                </div>
            </div>
            <div class="row">
                <div class="col-12 user-info">
                    <h1>Jennifer Roberts</h1>
                    <p>£20 per hour</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10 page-buttons-container" >
                    <a href="{% url 'tutor_two_profile' %}" class="page-buttons">Profile Page</a>
                    <a href="{% url 'tutor_two_qualifications' %}" class="page-buttons">Qualifications</a>
                    <a href="{% url 'tutor_two_reviews' %}" class="page-buttons">Reviews</a>
                </div>
            </div>
        </div>
        <div class="col-7" id="reviews">
            <h3>Create Review:</h3>
            <h4 id="tutor_name">Jennifer Roberts - Science Tutor</h4>
            <div class="star-rating">
                <input type="radio" name="rate" id="rate-5">
                <label for="rate-5" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-4">
                <label for="rate-4" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-3">
                <label for="rate-3" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-2">
                <label for="rate-2" class="fas fa-star"></label>
                <input type="radio" name="rate" id="rate-1">
                <label for="rate-1" class="fas fa-star"></label>
            </div>
            <br />
            <br />
            <form action="" method="POST" id="review_form">
                {% csrf_token %}

                {{ form | crispy }}
                <br />
                <p>Thank you for taking the time to review our tutors.</p>
                <input type="submit" value="Submit" class="btn btn-secondary">
            </form>
        </div>
        <div class="col-2" id="bookings-button">
            <div class="row booking-button">
                <a href="{% url 'tutor_two' %}" id="booking-btn">Book Lesson</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/tutor.js' %}"></script>
{% endblock %}