{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row qualification-page">
        <div class="col-md-12 col-lg-3">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="{% static 'images/tutorthree.jpg' %}" alt="image of a tutor">
                </div>
            </div>
            <div class="row">
                <div class="col-12 user-info">
                    <h1>Mark Macintosh</h1>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10 page-buttons-container" >
                    <a href="{% url 'tutor_three_profile' %}" class="page-buttons">Profile Page</a>
                    <a href="{% url 'tutor_three_qualifications' %}" class="page-buttons">Qualifications</a>
                    <a href="{% url 'tutor_three_reviews' %}" class="page-buttons">Reviews</a>
                </div>
            </div>
        </div>
        <div class="tutor-medium-placeholder">
            <div class="row placeholder">
            </div>
        </div>
        <div class="col-md-12 col-lg-7" id="qualifications">
            <div class="row">
                <h2>English Tutor</h2>
                <p class="tutor-qualification-heading"> - Leader of KS4 English and Drama</p>
                <hr/>
            </div>
            <div class="row qualification">
                <h3><i class="fa-solid fa-briefcase homepage-icons-gears"></i>Experience:</h3>
                <ul>
                    <li>Leader of KS4 English and Drama - Mouseley Academy - (2019 - 2022)</li>
                    <li>Head of Drama Studies - Mouseley Academy - (2013 - 2019)</li>
                    <li>English Teacher - Cuttlebrook Academy - (2010 - 2013)</li>
                    <li>English and Drama Tutor GCSE & A Level - MyTutor - (2008 - 2010)</li>
                </ul>
                <hr/>
            </div>
            <div class="row qualification">
                <h3><i class="fa-solid fa-graduation-cap homepage-icons-gears"></i>Qualifications:</h3>
                <ul>
                    <li>(QTS) Qualified Teacher Status - Pass - Nottingham University</li>
                    <li>(BA) English Literature and Drama Studies - First Class Degree - Birmingham University</li>
                    <li>Advanced Level English Language - A* Grade - Crosshill Academy</li>
                    <li>Advanced Level Drama - A Grade  - Crosshill Academy</li>
                    <li>Advanced Level English Language - A* Grade  - Crosshill Academy</li>
                </ul>
                <hr/>
            </div>
            <div class="row qualification-icon-background">
                <div class="col-3 center">
                    <p><i class="fa-solid fa-shield qualifications-icons"></i> Enhanced DBS Checked</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-thumbs-up qualifications-icons"></i> Tutors ID Verified</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-lock qualifications-icons"></i> Qualified Teacher (QTS)</p>
                </div>
                <div class="col-3 center">
                    <p><i class="fa-solid fa-heart qualifications-icons"></i> 100% Care</p>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-lg-2" id="bookings-button">
            <div class="row booking-button">
                <a href="{% url 'tutor_two' %}" id="booking-btn">Book Lesson</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/tutor.js' %}"></script>
{% endblock %}