{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row profile-page">
        <div class="col-md-12 col-lg-3">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="{% static 'images/tutortwo.avif' %}" alt="image of a tutor">
                </div>
            </div>
            <div class="row">
                <div class="col-12 user-info">
                    <h1>Jennifer Roberts</h1>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10 page-buttons-container" >
                    <a href="{% url 'tutor_two_profile' %}" class="page-buttons">Profile Page</a>
                    <a href="{% url 'tutor_two_qualifications' %}" class="page-buttons">Qualifications</a>
                    <a href="{% url 'tutor_two_reviews' %}" class="page-buttons">Reviews</a>
                </div>
            </div>
        </div>
        <div class="tutor-medium-placeholder">
            <div class="row placeholder">
            </div>
        </div>
        <div class="col-md-12 col-lg-6" id="tutor-profile">
            <blockquote cite="Benjamin Franklin"><i>"Tell me and I forget, teach me and I remember, involve me and I learn."</i></blockquote>
            <h3>About Me:</h3>
            <p>I am a recent graduate from Manchester University with a degree in Chemistry and am also able to
                teach Maths and Physics to 'A' level. I have been told that my approach to teaching makes it
                enjoyable for my students as I am considered patient and very approachable. I am happy to travel
                up to 15 miles from my home and am currently available evenings and week-ends.</p>
            <p>I am a recently retired Head teacher of a Primary School and have more than 35 years experience
                of teaching of pupils of all ages. Since retiring, I have given private tuition to a number of pupils
                with excellent results. I always have the highest expectations of pupils and always have had, even
                when it was fashionable for learning to be more "child centred". This is an approach I have found to
                pay rich dividends in terms of a pupil's academic and personal development.</p>
        </div>
        <div class="col-md-12 col-lg-3" id="bookings-button">
            <div class="row booking-button">
                <a href="{% url 'tutor_two' %}" id="booking-btn">Book Lesson</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/tutor.js' %}"></script>
{% endblock %}