{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container-fluid center-block">
    <div class="row profile">
        <div class="col-3">
            <div class="row">
                <div class="col-12 user-image">
                    <img src="../../static/images/tutortwo.png" alt="cartoon image of a tutor">
                </div>
            </div>
            <div class="row">
                <div class="col-12 user-info">
                    <h1>Jennifer Roberts</h1>
                    <p>£20 per hour</p>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half"></i>
                </div>
            </div>
            <div class="row center-block">
                <div class="col-10">
                    <button class="btn btn-signup btn-lg user-btns" id="proile-btn">Profile Page</button>
                    <button class="btn btn-signup btn-lg user-btns" id="qualifications-btn">Qualifications</button>
                    <button class="btn btn-signup btn-lg user-btns" id="qualifications-btn">Reviews</button>
                </div>
            </div>
        </div>
        <div class="col-6" id="tutor-profile">
            <blockquote cite="Benjamin Franklin"><i>"Tell me and I forget, teach me and I remember, involve me and I learn."</i></blockquote>
            <h3>About Me:</h3>
            <p>I am a recent graduate from Manchester University with a degree in Chemistry and am also able to
                teach Maths and Physics to 'A' level. I have been told that my approach to teaching makes it
                enjoyable for my students as I am considered patient and very approachable. I am happy to travel
                up to 15 miles from my home and am currently available evenings and week-ends.</p>
            <p>I am a recently retired Head teacher of a Primary School and have more than 35 years experience
                of teaching of pupils of all ages. Since retiring, I have given private tuition to a number of pupils
                with excellent results. I always have the highest expectations of pupils and always have had, even
                when it was fashionable for learning to be more "child centred". This is an approach I have found to
                pay rich dividends in terms of a pupil's academic and personal development.</p>
        </div>
        <div class="col-6" id="qualifications">
            <blockquote cite="Benjamin Franklin"><i>"Tell me and I forget, teach me and I remember, involve me and I learn."</i></blockquote>
            <h3>Qualifications:</h3>
            <ul>
                <li>Maths</li>
                <li>Maths</li>
                <li>Maths</li>
                <li>Maths</li>
            </ul>
        </div>
        <div class="col-3" id="bookings-button">
            <div class="row booking-button">
                <button class="btn btn-signup btn-lg user-btns tutorpage-buttons" id="booking-btn">Book Lesson</button>
            </div>
        </div>
        <div class="col-9" id="bookings">
            <div class="row">
                <div class="col-6">
                    <h3>Bookings:</h3>
                </div>
                <div class="col-6 exit-booking-button">
                    <button class="btn btn-signup btn-lg" id="exit-booking"><i class="fa-solid fa-circle-xmark"></i></button>
                </div>
            </div>
            <div class="row booking-table">
                <div class="col-4">
                    <h3>Select a date:</h3>
                    <table class="center">
                        <tr>
                            <th class="day-slot table" onclick="selectDate()">Monday 28th March</th>
                        </tr>
                        <tr>
                            <th class="day-slot table" onclick="selectDate()">Tuesday 29th March</th>
                        </tr>
                        <tr>
                            <th class="day-slot table" onclick="selectDate()">Wednesday 30th March</th>
                        </tr>
                        <tr>
                            <th class="day-slot table" onclick="selectDate()">Thursday 31st March</th>
                        </tr>
                        <tr>
                            <th class="day-slot table" onclick="selectDate()">Friday 1st April</th>
                        </tr>
                        <tr>
                            <th class="table"><i class="fa-solid fa-arrow-left" id="left"></i><i class="fa-solid fa-arrow-right" id="right"></i></th>
                        </tr>
                    </table>
                </div>
                <div class="col-4">
                    <h3>Select a time:</h3>
                    <table class="center">
                        <tr>
                            <td class="time-slot table" onclick="selectTime()">2.30 - 3.30 pm</td>
                        </tr>
                        <tr>
                            <td class="time-slot table" onclick="selectTime()">3.30 - 4.30 pm</td>
                        </tr>
                        <tr>
                            <td class="time-slot table" onclick="selectTime()">4.30 - 5.30 pm</td>
                        </tr>
                        <tr>
                            <td class="time-slot table" onclick="selectTime()">5.30 - 6.30 pm</td>
                        </tr>
                        <tr>
                            <td class="time-slot table" onclick="selectTime()">6.30 - 7.30 pm</td>
                        </tr>
                        <tr>
                            <td class="time-slot table" onclick="selectTime()">7.30 - 8.30 pm</td>
                        </tr>
                    </table>
                </div>
                <div class="col-4 confirm-booking" id="confirm">
                    <h3>Confirm your booking:</h3>
                    <p>Tutor: <span id="tutor-name">Jennifer Roberts</span></p>
                    <p>Subject: <span id="subject">Science</span></p>
                    <p>Date: <span id="confirm-date"></span></p>
                    <p>Time: <span id="confirm-time"></span></p>
                    <div class="row booking-button">
                        <button class="btn btn-signup btn-lg user-btns tutorpage-buttons" id="confirm-btn">Confirm Booking</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}
<script src="{% static 'js/tutor.js' %}"></script>
{% endblock %}